{% extends "template.html" %}
{% block conteudo %}
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th colspan="2">CHGs que Serão Desfeitas(Comentadas) no Arquivo de Configuração "show-services"</th>
            </tr>
        </thead>
        <tbody>
            {% for input in chg_input_list %}
                <tr>
                    <td><!--{{ '#'+input.prot }}</br>-->
                        {% if input.rae['line_index_list'][0] %}
                            {% for item in input.rae['will_comment_line_list'] %}
                                <b class="alert-danger">{{ item }}</b></br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td align="center">
                        <a class="btn btn-primary btn-sm" href="/clean_chg_input/{{ input.prot }}">Excluir CHG</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-responsive">
        <tbody>
            <tr>
                <td>
                    <a class="btn btn-primary" href="/build_chg_undo">Build CHGs</a>
                    <a class="btn btn-primary" href="/clean_all">Limpar CHGs</a>
                    <a class="btn btn-primary" href="/undo">Nova CHG</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}