{% extends "template.html" %}
{% block conteudo %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="bg-primary" style="text-align: center;">Arquivo de Configuração "show-services" Modificado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for item in chgcurl_list %}
                    {% if item[0:3] == 'CHG' or item[0:3] == 'chg' %}
                        <div class="bg-primary" style="text-align: center; vertical-align: middle; padding: 1px;">
                            <h4>{{ item }}</h4>
                        </div>
                    {% else %}
                        <div class="alert-info" style="margin-bottom: 0.5%; padding-left: 1%">
                            <b>-----------------------------------------</b></br>
                            {% for line in item %}
                                <b>{{ line }}</b></br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td style="color: whitesmoke; background-color: dimgray;">
                    {% for input in changed_conf_file %}
                        {% for new_rule in new_rule_list %}
                            {% if input.find(new_rule) != -1 %}
                                <b style="color:yellow;">{{ input }}</b></br>    
                            {% endif %}
                        {% endfor %}
                        {% if input[0] == '#' %}
                            <b style="color:greenyellow;">{{ input }}</b>
                        {% else %}
                            <b>{{ input }}</b>
                        {% endif %}
                        </br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}