{% extends "template.html" %}
{% block conteudo %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="bg-primary" style="text-align: center;">Arquivo de Configuração "show-services" Modificado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for input in chg_input_list %}
                    <div class="bg-primary" style="text-align: center; vertical-align: middle; padding: 1px;">
                        <h4>{{ input.prot }}</h4>
                    </div>
                    <div class="alert-info" style="margin-bottom: 0.5%; padding-left: 1%">
                        <b>-----------------------------------------</b></br>
                        {% for myredirect in myredirect_list %}
                            {% for item in myredirect.chgcurl() %}
                                <b>{{ item }}</b></br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </tr>
            <tr>
                <td style="color: whitesmoke; background-color: dimgray;">
                    {% for input in changed_conf_file %}
                        {{ input }}</br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}